<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.1/luxon.min.js" integrity="sha512-hZKz8wkgOcWeZanRioE6H6AC3OJspzJQyDBB5jLoZ1jIKbYDt5MwVIvU703WwE4sjvKZw9uNmmYlt29xKS27RA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <div id="app">
            <div class="container-general">
                <div class="row height-100">
                    <div class="col height-100 col-100 d-justify-align-center">
                        <div class="contenitore-app">
                            <div class="row height-100">
                                <!-- Sidebar contatti -->
                                <div class="col height-100 col-40">
                                    <aside class="sidebar height-100">
                                        <div class="header header-sidebar">
                                            <div class="profile-info">
                                                <img class="rounded immagine-header" src="./img/avatar_io.jpg" alt="main-profile-picture">
                                                <h5 class="margin-d-s-1" >Sofia</h5>
                                            </div>
                                            <div class="header-icons">
                                                <a href="#"><i class="fa-solid fa-circle-notch"></i></a>
                                                <a class="margin-d-s-1" href="#"><i class="fa-solid fa-message"></i></a>
                                                <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                            </div>
                                        </div>
                                        <div class="notifiche">
                                            <div class="rounded icona-notifiche">
                                                <i class="fa-solid fa-bell-slash"></i>
                                            </div>                                            
                                            <div class="copy margin-d-s-1">
                                                <h5>Ricevi notifiche di nuovi messaggi</h5>
                                                <a class="data-sottotitolo" href="#">Attiva notifiche desktop</a>
                                            </div>
                                        </div>
                                        <div class="cerca">

                                            <!-- Elemento Dinamico -->

                                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                                            <input type="text" placeholder="Cerca o inizia una nuova chat">

                                            <!-- Fine elemento dinamico -->

                                        </div>
                                        <!-------------------->
                                        <!-- Lista Contatti -->
                                        <!-------------------->
                                        <div class="lista-contatti">

                                            <!-- Elemento Dinamico -->

                                            <div class="card-lista" v-for="(contact, index) in contacts" @click="changeChat(index)" :class="(contatoreContatti == index) ? 'card-lista-active' : '' ">
                                                <div class="profile-info">
                                                    <img class="rounded immagine-header" :src="getAvatar(index)" alt="main-profile-picture">
                                                    <div class="margin-d-s-1">
                                                        <h5>{{ contact.name }}</h5>
                                                        <p class="data-sottotitolo">{{ getPreviewMessage(index) }}</p>
                                                    </div>                                                   
                                                </div>
                                                <div class="header-icons">
                                                    <p class="data-sottotitolo">{{ getLastDate(index) }}</p>
                                                </div>
                                            </div>

                                            <!-- Fine elemento dinamico -->

                                        </div>
                                    </aside>
                                </div>
                                <!-- Schermata chat -->
                                <div class="col height-100 col-60">
                                    <div class="schermata-chat height-100">
                                        <div class="header header-chat">
                                            <div class="profile-info">

                                                <!-- Elemento Dinamico -->

                                                <img class="rounded immagine-header" :src="getAvatar(contatoreContatti)" alt="main-profile-picture">
                                                <div class="copy margin-d-s-1">
                                                    <h5>{{ contacts[contatoreContatti].name }}</h5>
                                                    <p class="data-sottotitolo">Ultimo Accesso oggi alle {{ getLastDate(contatoreContatti) }}</p>
                                                </div>  
                                                
                                                <!-- Fine elemento dinamico -->

                                            </div>
                                            <div class="header-icons">
                                                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                                                <a class="margin-d-s-1" href="#"><i class="fa-solid fa-paperclip"></i></a>
                                                <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                            </div>
                                        </div>
                                        <div class="chat">
                                            <div class="contenitore-messaggi">

                                                <!-- Elemento Dinamico -->

                                                <div class="messaggio inviato" v-for="(singleMessage, index) in contacts[contatoreContatti].messages" :class="(singleMessage.status === 'sent') ? 'inviato' : 'ricevuto'">
                                                    <p>{{ singleMessage.message }}</p>
                                                    <p class="orario-messaggio">{{ splitDate(singleMessage.date) }}</p>
                                                    <i class="fa-solid fa-chevron-down"></i>
                                                </div>

                                                <!-- Fine elemento dinamico -->

                                            </div>
                                        </div>
                                        <div class="chat-footer">
                                            <div class="footer-icon">
                                                <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                                            </div>                                           
                                                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keypress.enter="addMessage(contatoreContatti)">
                                            <div class="footer-icon">
                                                <a href="#"><i class="fa-solid fa-microphone"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/javascript.js"></script>
    </body>
</html>